---
import AwsIcon from '@assets/common/techIcons/aws.svg';
import JavascriptIcon from '@assets/common/techIcons/javascript.svg';
import NodejsIcon from '@assets/common/techIcons/nodejs.svg';
import ReactIcon from '@assets/common/techIcons/react.svg';
import TypescriptIcon from '@assets/common/techIcons/typescript.svg';
import { Button } from '@components/Button';
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
interface Props {
  heroTitle: string;
  subTitle: string;
  heroImage: ImageMetadata;
  heroAltImage: string;
}

const { heroAltImage, heroImage, heroTitle, subTitle } = Astro.props;
---

<section
  class='container flex max-w-screen-desktop flex-col gap-y-12 py-12 laptop:flex-row laptop:gap-x-6 laptop:py-15'
>
  <div class='flex flex-1 flex-col items-start gap-6'>
    <h1 class='text-xl font-bold leading-tight text-black tablet:text-3xl'>
      {heroTitle}
    </h1>
    <p class='text-s leading-6 tracking-s text-primary'>{subTitle}</p>
    <Button title='Enroll now' className='tablet:px-6 tablet:py-3' />
  </div>
  <figure class='relative flex h-auto w-full flex-1 flex-col'>
    <Image
      src={heroImage}
      alt={heroAltImage}
      class='h-[26rem] w-full rounded-l object-cover'
    />
    <div class='absolute flex h-full w-full flex-col justify-between p-4'>
      <div
        class='flex w-fit items-center gap-x-3 rounded-s border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]'
      >
        <div class='ml-2'>
          <LiveIndicatorPulse />
        </div>
        <p class='text-xs text-primary'>Live Lectures</p>
      </div>
      <div class='flex child:-ml-3'>
        {
          [ReactIcon, JavascriptIcon, TypescriptIcon, NodejsIcon, AwsIcon].map(
            (icon) => (
              <Image
                src={icon}
                alt={'tech-stack-image'}
                class='ml-[-12px] h-12 first:ml-0'
              />
            ),
          )
        }
      </div>
    </div>
  </figure>
</section>
