---
import { Image } from 'astro:assets';
import VideoImage from './VideoImage/VideoImage.astro';
import ImageAlumni1 from '/public/qa-course/alumni-1.svg';
import ImageAlumni2 from '/public/qa-course/alumni-2.svg';
import ImageAlumni3 from '/public/qa-course/alumni-3.svg';
import ImageAlumni4 from '/public/qa-course/alumni-4.svg';
import ImageAlumni5 from '/public/qa-course/alumni-5.svg';
---

<div class='wrapper grid gap-y-4 lg:gap-y-6'>
  <p
    class='text-dark-gray text-xs leading-5 font-normal uppercase lg:text-s lg:leading-6'
  >
    BOOTCAMP ALUMNI
  </p>
  <h2
    class='text-dark text-l leading-8 font-bold md:text-xl md:leading-2xl lg:text-2xl lg:leading-3xl'
  >
    Meet our alumni who work at companies like Meta, Google, and Nike!
  </h2>
  <div class='gap-x-4 w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5'>
    <VideoImage>
      <Image src={ImageAlumni1} alt='alumni-1' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage>
      <Image src={ImageAlumni2} alt='alumni-2' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden md:block md:visible'>
      <Image src={ImageAlumni3} alt='alumni-3' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden lg:block'>
      <Image src={ImageAlumni4} alt='alumni-4' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden lg:block'>
      <Image src={ImageAlumni5} alt='alumni-5' loading='lazy' class='w-full' />
    </VideoImage>
  </div>
</div>
