---
import { Image } from 'astro:assets';
import VideoImage from './VideoImage/VideoImage.astro';
import ImageAlumni1 from '/public/qa-course/alumni-1.svg';
import ImageAlumni2 from '/public/qa-course/alumni-2.svg';
import ImageAlumni3 from '/public/qa-course/alumni-3.svg';
import ImageAlumni4 from '/public/qa-course/alumni-4.svg';
import ImageAlumni5 from '/public/qa-course/alumni-5.svg';
---

<section class='container'>
  <p
    class='text-xxs font-normal uppercase leading-4 text-gray-700 laptop:text-s laptop:leading-6'
  >
    BOOTCAMP ALUMNI
  </p>
  <h1
    class='text-l font-bold leading-8 text-primary tablet:text-xl tablet:leading-2xl laptop:text-2xl laptop:leading-3xl'
  >
    Meet our alumni who work at companies like Meta, Google, and Nike!
  </h1>
  <div
    class='grid w-full grid-cols-2 gap-x-4 tablet:grid-cols-3 laptop:grid-cols-5'
  >
    <VideoImage>
      <Image src={ImageAlumni1} alt='alumni-1' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage>
      <Image src={ImageAlumni2} alt='alumni-2' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden tablet:visible tablet:block'>
      <Image src={ImageAlumni3} alt='alumni-3' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden laptop:block'>
      <Image src={ImageAlumni4} alt='alumni-4' loading='lazy' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden laptop:block'>
      <Image src={ImageAlumni5} alt='alumni-5' loading='lazy' class='w-full' />
    </VideoImage>
  </div>
</section>
