---
import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  altText: string;
  title?: string;
  subtitle?: string;
  description?: string;
}

const { imagePath, altText, description, subtitle, title } = Astro.props;
const images = import.meta.glob('/src/assets/*.{jpeg,jpg,png,gif}');
---

<figure class='relative'>
  <Image
    src={images[imagePath]()}
    alt={altText}
    loading='lazy'
    decoding='async'
    class='max-h-[358px] w-full max-w-sm rounded-l tablet:max-h-[384px]'
  />
  <!-- <Image
    src={import(`${imagePath}.jpg`)}
    alt={altText}
    loading='lazy'
    decoding='async'
    class='max-h-[358px] w-full max-w-sm rounded-l tablet:max-h-[384px]'
  /> -->
  <div
    class='image-shadow-inner absolute bottom-0 flex h-full flex-col justify-end px-4 py-4'
  >
    <h2 class='mb-2 text-s text-white'>{title}</h2>
    <p class='mb-5 text-xs text-white'>{subtitle}</p>
    <p class='text-xs text-white'>
      {description}
    </p>
  </div>
</figure>

<style>
  .image-shadow-inner {
    box-shadow: 0px -90px 50px 0px rgba(0, 0, 0, 0.5) inset;
    border-radius: 12px;
  }
</style>
