---
import '../courses.scss'
import { Button } from '../../../Button';
const { course } = Astro.props;

---
<div class="flex flex-col mt-8 p-4 bg-white rounded justify-center content-center">
    <div class="flex flex-col justify-center content-center">
        <img src="https://placehold.co/300x160" alt={course.alt} class="w-full"/>
        <h2 class="text-dark text-center m-3 text-l font-bold leading-s w-full">
            {course.courseTitle}
        </h2>
    </div>

    <div class="flex flex-col justify-center items-start gap-4">

        <div>
            <h4 class="text-dark text-base font-medium leading-xs mb-3">Skillset</h4>
            <div class="skills text-xxs font-normal leading-xxs">
                {course.skills}
            </div>
            <div class="px-4 py-2 mt-2 flex flex-col justify-between items-start gap-2">
                <div class="text-[#2D2D2D] text-xxs font-medium leading-xxs">
                    Mediate Graduate Starting Salary {course.startingSalary}
                </div>
                <div class="text-[#2D2D2D] text-xxs font-medium leading-xxs">
                    {course.duration} months   {course.price}
                </div>
            </div>
        </div>
        <Button title={'Learn more'} className={'w-full bg-secondary text-dark'}/>
    </div>
</div>




