---
import type { TInstructor } from '../BootcampTeam.astro';

interface Props extends TInstructor {}
const { title, imageUrl, name, jobTitle, imageCompanyUrl, companyname } =
  Astro.props;
---

<div
  class={`relative w-1/2 min-h-[259px]  md:min-h-[321px] lg:min-h-[364px] bg-cover bg-no-repeat bg-center rounded-s last:hidden lg:last:block`}
  style={{ backgroundImage: `url('${imageUrl}')` }}
>
  <p
    class='absolute top-4 left-4 px-[6px] py-[2px] rounded-xs bg-cultured text-dark text-xxs font-normal lg:text-s lg:px-4 lg:py-1'
  >
    {title}
  </p>
  <div class='absolute bottom-4 left-4 w-full flex flex-col gap-y-2'>
    <div>
      <p class='text-white text-s font-bold md:text-s lg:text-l'>{name}</p>
      <p class='text-[#DEDCD3] text-xxs font-medium lg:text-s'>{jobTitle}</p>
    </div>
    <div class='flex flex-row w-full items-center gap-x-1 lg:gap-x-3'>
      <div
        class='h-5 w-5 md:h-8 md:w-8 lg:h-10 lg:w-10 bg-contain bg-no-repeat'
        style={{ backgroundImage: `url('${imageCompanyUrl}')` }}
      >
      </div>
      <div class='bg-white w-4 h-[1px] md:w-6 lg:w-[54px] lg:h-[2px]'></div>
      <p class='text-[#DEDCD3] text-xxs font-medium md:text-xxs lg:text-s'>
        {companyname}
      </p>
    </div>
  </div>
</div>
