---
import { getImage } from 'astro:assets';
import type { TInstructor } from '../BootcampTeam.astro';

interface Props extends TInstructor {}
const { title, image, name, jobTitle, imageCompanyUrl, companyname } =
  Astro.props;

const optimizedBackground = await getImage({
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  src: image,
  format: 'webp',
});
---

<div
  class='flex h-full w-full flex-col justify-between rounded-l bg-cover bg-center tablet:rounded-[16px]'
  style={{ backgroundImage: `url(${optimizedBackground.src})` }}
>
  <p
    class='mx-2 my-2 w-fit rounded-xs bg-cultured px-[6px] py-[2px] text-xxs font-normal text-primary tablet:mx-4 tablet:my-4 tablet:px-4 tablet:py-1 laptop:text-s'
  >
    {title}
  </p>
  <div
    class='image-shadow-inner flex w-full flex-col gap-y-2 rounded-l px-2 py-2 tablet:rounded-[16px] tablet:px-4 tablet:py-4'
  >
    <div>
      <p class='text-s font-bold text-white tablet:text-s laptop:text-l'>
        {name}
      </p>
      <p class='text-xxs font-medium text-gray-200 laptop:text-s'>
        {jobTitle}
      </p>
    </div>
    <div class='flex w-full flex-row items-center gap-x-1 laptop:gap-x-3'>
      <div
        class='h-5 w-5 bg-contain bg-no-repeat tablet:h-8 tablet:w-8 laptop:h-10 laptop:w-10'
        style={{ backgroundImage: `url('${imageCompanyUrl}')` }}
      >
      </div>
      <div
        class='h-[1px] w-4 bg-white tablet:w-6 laptop:h-[2px] laptop:w-[54px]'
      >
      </div>
      <p
        class='text-xxs font-medium text-gray-200 tablet:text-xxs laptop:text-s'
      >
        {companyname}
      </p>
    </div>
  </div>
</div>

<style>
  .image-shadow-inner {
    background-image: linear-gradient(transparent, #000);
  }
</style>
