---
import VideoImage from '@components/sections/qaCourse/bootcampAlumni/VideoImage/VideoImage.astro';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import type { TFeedback } from 'src/types/Feedback';
import Feedback from '../feedback/Feedback.astro';
import ImageAlumni1 from '/public/qa-course/alumni-2.svg';
import ImageAlumni2 from '/public/qa-course/alumni-3.svg';

const feedbackList: TFeedback[] = [
  {
    country: 'United States 🇺🇸',
    feedback:
      "Cyram is beyond educational platform, it's also a community that cares for us as a person and our dream in software engineering.",
    imagePath: 'student-1.svg',
    name: 'Caleb',
  },
  {
    country: 'Sweden 🇸🇪',
    feedback:
      'This was one of the most positive online learning experiences I have ever had! I so appreciated the real world application that seemed to be woven into everything I learned. Classes and projects were engaging, fun, and suitable for any schedule. I would say the experience is so worth it no matter what stage of your career you are at!',
    imagePath: 'student-1.svg',
    name: 'Jane',
  },
  {
    country: 'Canada 🇨🇦',
    feedback:
      'Experience with Cyram has been wonderful and engaging. I was super nervous about my responsibilities, before joining UX/UI Design Bootcamp! Now, I feel more knowledgeable and confident about my responsibilities as a product designer.',
    imagePath: 'student-1.svg',
    name: 'Daniel',
  },
  {
    country: 'India 🇨🇮',
    feedback:
      'My mentorship sessions gave me the professional and personal guidance I needed to transition into software engineering.',
    imagePath: 'student-1.svg',
    name: 'Shaleen',
  },
  {
    country: 'United States 🇺🇸',
    feedback: `Cyram is beyond educational platform, it's also a community that cares for us as a person and our dream in software engineering.`,
    imagePath: 'student-1.svg',
    name: 'Jane',
  },
  {
    country: 'Sweden 🇸🇪',
    feedback: `A safe place to learn software engineering with honest professionals and a real world based curriculum.`,
    imagePath: 'student-1.svg',
    name: 'Shaleen',
  },
];

interface Props extends HTMLAttributes<'section'> {
  headerTitle?: string;
  title?: string;
  description?: string;
}

const { headerTitle, description, title, ...attrs } = Astro.props;
---

<section
  class={classNames(
    'container max-w-screen-desktop pt-12 tablet:pt-15 laptop:pt-16',
    attrs.class,
  )}
  {...attrs}
>
  <header class='pb-4'>
    {headerTitle && <p class='text-xxs text-gray-700'>{headerTitle}</p>}
    {
      title && (
        <h1 class='text-xl font-bold text-black tablet:text-center tablet:text-3xl laptop:text-4xl'>
          {title}
        </h1>
      )
    }
  </header>
  {
    description && (
      <p class='pb-4 text-s tracking-wider text-gray-700 tablet:text-center laptop:px-15'>
        {description}
      </p>
    )
  }
  <div
    class='mb-12 grid grid-cols-2 justify-center gap-x-2 tablet:grid-cols-3 tablet:gap-x-4'
  >
    <VideoImage>
      <Image class='w-full' alt='alumni-1' src={ImageAlumni1} />
    </VideoImage>
    <VideoImage>
      <Image class='w-full' alt='alumni-2' src={ImageAlumni2} />
    </VideoImage>
    <VideoImage className='hidden tablet:block'>
      <Image class='w-full' alt='alumni-1' src={ImageAlumni1} />
    </VideoImage>
  </div>
  <div class='grid grid-cols-1 gap-y-10 tablet:grid-cols-2 tablet:gap-x-6'>
    {feedbackList.map((data) => <Feedback data={data} />)}
  </div>
</section>
