---
import ImageAlumni1 from '@assets/alumni-1.png';
import ImageAlumni2 from '@assets/alumni-2.png';
import ImageAlumni3 from '@assets/alumni-3.png';
import VideoImage from '@components/sections/qa/bootcampAlumni/VideoImage/VideoImage.astro';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import type { TFeedback } from 'src/types/Feedback';
import Feedback from '../feedback/Feedback.astro';

const feedbackList: TFeedback[] = [
  {
    country: 'United States 🇺🇸',
    feedback:
      "Cyram is beyond educational platform, it's also a community that cares for us as a person and our dream in software engineering.",
    imagePath: 'student-1',
    name: 'Caleb',
  },
  {
    country: 'Sweden 🇸🇪',
    feedback:
      'This was one of the most positive online learning experiences I have ever had! I so appreciated the real world application that seemed to be woven into everything I learned. Classes and projects were engaging, fun, and suitable for any schedule. I would say the experience is so worth it no matter what stage of your career you are at!',
    imagePath: 'student-2',
    name: 'Jane',
  },
  {
    country: 'Canada 🇨🇦',
    feedback:
      'Experience with Cyram has been wonderful and engaging. I was super nervous about my responsibilities, before joining UX/UI Design Bootcamp! Now, I feel more knowledgeable and confident about my responsibilities as a product designer.',
    imagePath: 'student-3',
    name: 'Daniel',
  },
  {
    country: 'India 🇨🇮',
    feedback:
      'My mentorship sessions gave me the professional and personal guidance I needed to transition into software engineering.',
    imagePath: 'student-4',
    name: 'Shaleen',
  },
  {
    country: 'United States 🇺🇸',
    feedback: `Cyram is beyond educational platform, it's also a community that cares for us as a person and our dream in software engineering.`,
    imagePath: 'student-5',
    name: 'Jane',
  },
  {
    country: 'Sweden 🇸🇪',
    feedback: `A safe place to learn software engineering with honest professionals and a real world based curriculum.`,
    imagePath: 'student-6',
    name: 'Shaleen',
  },
];

interface Props extends HTMLAttributes<'div'> {}

const attrs = Astro.props;
---

<div {...attrs}>
  <div
    class='mb-12 grid grid-cols-2 justify-center gap-x-2 tablet:grid-cols-5 tablet:gap-x-4'
  >
    <VideoImage>
      <Image class='w-full' alt='alumni-1' src={ImageAlumni1} />
    </VideoImage>
    <VideoImage>
      <Image class='w-full' alt='alumni-2' src={ImageAlumni2} />
    </VideoImage>
    <VideoImage className='hidden tablet:block'>
      <Image class='w-full' alt='alumni-3' src={ImageAlumni3} />
    </VideoImage>
    <VideoImage className='hidden tablet:block'>
      <Image class='w-full' alt='alumni-4' src={ImageAlumni1} />
    </VideoImage>
    <VideoImage className='hidden tablet:block'>
      <Image class='w-full' alt='alumni-5' src={ImageAlumni1} />
    </VideoImage>
  </div>
  <div class='grid grid-cols-1 gap-y-10 tablet:grid-cols-2 tablet:gap-x-6'>
    {feedbackList.map((feedback) => <Feedback data={feedback} />)}
  </div>
</div>
