---
import { Image } from 'astro:assets';
import ImageAirbnb from '/public/home-page/airbnb-logo.svg';
import ImageAmazon from '/public/home-page/amazon-logo.svg';
import ImageBooking from '/public/home-page/booking-logo.svg';
import ImageGoogle from '/public/home-page/google-logo.svg';
import ImageGradWorkVideoDesktop from '/public/home-page/grad-work-video-desktop.svg';
import ImageGradWorkVideo from '/public/home-page/grad-work-video.svg';
import ImageLinkedin from '/public/home-page/linkedin-logo.svg';
import ImageMeta from '/public/home-page/meta-logo.svg';
import ImageMicrosoft from '/public/home-page/microsoft-logo.svg';
import ImageNetflix from '/public/home-page/netflix-logo.svg';
import ImageNotion from '/public/home-page/notion-logo.svg';
import ImageUber from '/public/home-page/uber-logo.svg';
import ImageZoom from '/public/home-page/zoom-logo.svg';
---

<section class='container flex flex-col pt-13'>
  <h1 class='pb-4 text-xl font-bold text-black'>Our grads work here</h1>
  <p class='pb-6 text-s font-normal tracking-wide text-gray-700'>
    We're grateful to have educated 500,000 folks in 150+ countries and we're
    trusted by industry leading teams like Google, Figma, Revolut, and Shopify
  </p>
  <div class='flex w-full flex-col gap-y-6 pb-4'>
    <div
      class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
    >
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageMicrosoft}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
    </div>
    <div
      class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
    >
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageNetflix}
        alt='netflix-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
    </div>
    <div
      class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
    >
      <Image
        src={ImageZoom}
        alt='zoom-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageMicrosoft}
        alt='microsoft-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='h-full tablet:hidden tablet:appearance-none'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageNotion}
        alt='notion-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='hidden h-full appearance-none tablet:block'
      />
    </div>
  </div>

  <div class='my-4 flex w-full content-center justify-center'>
    <Image
      src={ImageGradWorkVideo}
      alt='grad-work-video'
      loading='lazy'
      decoding='async'
      class='w-full rounded-l object-contain tablet:hidden'
    />
    <Image
      src={ImageGradWorkVideoDesktop}
      alt='grad-work-video-desktop'
      loading='lazy'
      decoding='async'
      class='hidden w-full object-contain tablet:block tablet:rounded-[16px] laptop:rounded-2xl'
    />
  </div>
</section>
