---
import { Image } from 'astro:assets';
import ImageAirbnb from '/public/home-page/airbnb-logo.svg';
import ImageAmazon from '/public/home-page/amazon-logo.svg';
import ImageBooking from '/public/home-page/booking-logo.svg';
import ImageGoogle from '/public/home-page/google-logo.svg';
import ImageGradWorkVideoDesktop from '/public/home-page/grad-work-video-desktop.svg';
import ImageGradWorkVideo from '/public/home-page/grad-work-video.svg';
import ImageLinkedin from '/public/home-page/linkedin-logo.svg';
import ImageMeta from '/public/home-page/meta-logo.svg';
import ImageMicrosoft from '/public/home-page/microsoft-logo.svg';
import ImageNetflix from '/public/home-page/netflix-logo.svg';
import ImageNotion from '/public/home-page/notion-logo.svg';
import ImageUber from '/public/home-page/uber-logo.svg';
import ImageZoom from '/public/home-page/zoom-logo.svg';
---

<section class='courses md:gap-4 lg:items-center lg:gap-6 flex flex-col gap-4'>
  <h1
    class='text-xl text-dark md:text-center md:text-3xl lg:text-[48px] font-bold'
  >
    Our grads work here
  </h1>
  <p
    class='text-dark-gray md:text-center md:text-base lg:w-[837px] pb-4 text-s leading-[22px]'
  >
    We're grateful to have educated 500,000 folks in 150+ countries and we're
    trusted by industry leading teams like Google, Figma, Revolut, and Shopify
  </p>
  <div class='flex w-full flex-col gap-y-6'>
    <div
      class='md:h-[31px] child:md:w-auto lg:h-[46px] flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px]'
    >
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageMicrosoft}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
    </div>
    <div
      class='md:h-[31px] child:md:w-auto lg:h-[46px] flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px]'
    >
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageNetflix}
        alt='netflix-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
    </div>
    <div
      class='md:h-[31px] child:md:w-auto lg:h-[46px] flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px]'
    >
      <Image
        src={ImageZoom}
        alt='zoom-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageMicrosoft}
        alt='microsoft-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='md:hidden md:appearance-none h-full'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageNotion}
        alt='notion-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='md:block hidden h-full appearance-none'
      />
    </div>
  </div>

  <div class='my-4 flex w-full content-center justify-center'>
    <Image
      src={ImageGradWorkVideo}
      alt='grad-work-video'
      loading='lazy'
      decoding='async'
      class='lg:rounded-xl md:hidden md:rounded-[16px] w-full object-contain'
    />
    <Image
      src={ImageGradWorkVideoDesktop}
      alt='grad-work-video-desktop'
      loading='lazy'
      decoding='async'
      class='lg:rounded-xl md:block md:rounded-[16px] hidden w-full object-contain'
    />
  </div>
</section>
