---
import { Image } from 'astro:assets';
import ImageAirbnb from '/public/home-page/airbnb-logo.svg';
import ImageAmazon from '/public/home-page/amazon-logo.svg';
import ImageBooking from '/public/home-page/booking-logo.svg';
import ImageGoogle from '/public/home-page/google-logo.svg';
import ImageGradWorkVideoDesktop from '/public/home-page/grad-work-video-desktop.svg';
import ImageGradWorkVideo from '/public/home-page/grad-work-video.svg';
import ImageLinkedin from '/public/home-page/linkedin-logo.svg';
import ImageMeta from '/public/home-page/meta-logo.svg';
import ImageMicrosoft from '/public/home-page/microsoft-logo.svg';
import ImageNetflix from '/public/home-page/netflix-logo.svg';
import ImageNotion from '/public/home-page/notion-logo.svg';
import ImageUber from '/public/home-page/uber-logo.svg';
import ImageZoom from '/public/home-page/zoom-logo.svg';
---

<div
  class='wrapper courses flex flex-col gap-4 md:gap-4 lg:gap-6 xl:gap-4 lg:items-center'
>
  <h2
    class='text-dark text-xl md:text-3xl lg:text-[48px] md:text-center font-bold'
  >
    Our grads work here
  </h2>
  <p
    class='text-dark-gray text-s leading-[22px] pb-4 md:text-center md:text-base lg:w-[837px]'
  >
    We're grateful to have educated 500,000 folks in 150+ countries and we're
    trusted by industry leading teams like Google, Figma, Revolut, and Shopify
  </p>
  <div class='w-full flex flex-col gap-y-6'>
    <div
      class='child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between'
    >
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageMicrosoft}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageAmazon}
        alt='amazon-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageGoogle}
        alt='google-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
    </div>
    <div
      class='child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between'
    >
      <Image
        src={ImageMeta}
        alt='meta-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageNetflix}
        alt='netflix-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageUber}
        alt='uber-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
    </div>
    <div
      class='child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between'
    >
      <Image
        src={ImageZoom}
        alt='zoom-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageMicrosoft}
        alt='microsoft-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageLinkedin}
        alt='linkedin-logo'
        loading='lazy'
        decoding='async'
        class='h-full md:hidden md:appearance-none'
      />
      <Image
        src={ImageBooking}
        alt='booking-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageNotion}
        alt='notion-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
      <Image
        src={ImageAirbnb}
        alt='airbnb-logo'
        loading='lazy'
        decoding='async'
        class='h-full hidden appearance-none md:block'
      />
    </div>
  </div>

  <div class='flex content-center justify-center my-4 w-full'>
    <Image
      src={ImageGradWorkVideo}
      alt='grad-work-video'
      loading='lazy'
      decoding='async'
      class='object-contain w-full md:rounded-[16px] lg:rounded-xl md:hidden'
    />
    <Image
      src={ImageGradWorkVideoDesktop}
      alt='grad-work-video-desktop'
      loading='lazy'
      decoding='async'
      class='object-contain w-full md:rounded-[16px] lg:rounded-xl hidden md:block'
    />
  </div>
</div>
