---
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import type { BootcampCourse } from 'src/types/Course';
import ImageLiveLectureTools from '/public/home-page/live-lecture-tools-image.svg';

interface Props {
  course: BootcampCourse;
  withBlur?: boolean;
  isHeader?: boolean;
}

const { course, isHeader = false, withBlur = true } = Astro.props;
---

<article class='h-full text-xxs'>
  <a
    href={course.courseLink}
    role='button'
    class='flex h-full cursor-pointer flex-col items-center self-stretch rounded-2xl border border-gray-200 bg-white px-3 pb-6 pt-3 transition ease-in-out hover:-translate-y-4 hover:bg-gray-700/10 focus:-translate-y-4 focus:bg-gray-700/10'
  >
    <div
      class={classNames(
        'relative mb-3 flex bg-live-lecture-image h-[268px] w-full bg-no-repeat bg-cover bg-center rounded-xl tablet:rounded-l',
        { '!h-[198px]': isHeader },
      )}
    >
      {
        withBlur && (
          <>
            <div class='flex h-auto w-full rounded-l backdrop-blur-[2px] ' />
            <div class='absolute inset-0 bg-black opacity-10' />
          </>
        )
      }
      <div
        class='absolute top-5 flex w-full items-center justify-between gap-x-2 px-5 tablet:top-3 tablet:px-3'
      >
        <div class='flex flex-wrap justify-between'>
          <div
            class={classNames(
              'flex w-fit items-center gap-x-3 rounded-xs border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]',
              { 'laptop:!py-0 desktop:!py-1': isHeader },
            )}
          >
            <div class='w-fit'>
              <LiveIndicatorPulse />
            </div>
            <p class='text-xxs leading-tight text-white laptop:text-xxs'>
              Live Lectures
            </p>
          </div>
        </div>
        <Image
          src={ImageLiveLectureTools}
          alt='live-lecture-tools-image'
          loading='lazy'
          decoding='async'
          class='tablet:h-6 tablet:w-fit'
        />
      </div>
      <h2
        class={classNames(
          'absolute bottom-0 left-0 right-0 top-0 m-auto h-fit w-fit px-5 text-center text-base font-bold text-cultured tablet:px-3',
          { '!text-base': isHeader },
        )}
      >
        {course.title}
      </h2>
    </div>
    <h1
      class={classNames('w-full text-left text-base font-bold text-primary', {
        '!text-s': isHeader,
      })}
    >
      {course.courseTitle}
    </h1>
    <p
      class={classNames('w-full text-left text-s font-medium text-gray-700', {
        '!text-xxs': isHeader,
      })}
    >
      {course.type} &#183; {course.duration} months
    </p>
  </a>
</article>
