---
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import ImageLiveLectureTools from '/public/home-page/live-lecture-tools-image.svg';
import type { BootcampCourse } from 'src/types/Course';

const { course } = Astro.props as { course: BootcampCourse };
---

<article class='h-full'>
  <a
    href={course.courseLink}
    role='button'
    class='rounded-2xl bg-white hover:bg-gray-700/10 focus:bg-gray-700/10 flex h-full cursor-pointer flex-col items-center self-stretch border border-gray-200 px-3 pb-6 pt-3 transition ease-in-out hover:-translate-y-4 focus:-translate-y-4'
  >
    <div
      class={classNames(
        'relative mb-3 flex bg-live-lecture-image w-full min-h-[268px] bg-no-repeat bg-cover bg-center rounded-xl tablet:rounded-l',
      )}
    >
      <div class='flex h-auto w-full rounded-l backdrop-blur-[2px]'></div>
      <div
        class='absolute left-4 top-5 flex justify-between tablet:left-3 tablet:top-3'
      >
        <div
          class='bg-gray-100 flex w-fit items-center gap-x-3 rounded-xs border border-gray-400 px-2 py-1 backdrop-blur-[2px]'
        >
          <LiveIndicatorPulse />
          <p class='text-xxs text-white laptop:text-xxs'>Live Bootcamp</p>
        </div>
      </div>
      <Image
        src={ImageLiveLectureTools}
        alt='live-lecture-tools-image'
        loading='lazy'
        decoding='async'
        class='absolute right-4 top-5 tablet:right-3 tablet:top-3 tablet:h-6 tablet:w-fit'
      />
      <h2
        class='text-cultured absolute bottom-0 left-0 right-0 top-0 m-auto h-fit w-fit text-center text-base font-bold'
      >
        {course.title}
      </h2>
    </div>
    <h1 class='w-full text-left text-base font-bold text-primary'>
      {course.courseTitle}
    </h1>
    <p class='w-full text-left text-s font-medium text-gray-700'>
      {course.type} &#183; {course.duration} months
    </p>
  </a>
</article>
