---
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import type { BootcampCourse } from 'src/types/Course';
import ReactIcon from '@assets/techIcons/react.svg';
import JavascriptIcon from '@assets/techIcons/javascript.svg';
import TypescriptIcon from '@assets/techIcons/typescript.svg';
import NodejsIcon from '@assets/techIcons/nodejs.svg';
import AwsIcon from '@assets/techIcons/aws.svg';

interface Props {
  course: BootcampCourse;
  withBlur?: boolean;
  isHeader?: boolean;
}

const { course, isHeader = false, withBlur = true } = Astro.props;
---

<article class='h-full text-xxs'>
  <a
    href={course.courseLink}
    role='button'
    class='flex h-full cursor-pointer flex-col items-center self-stretch rounded-2xl border border-gray-200 bg-white px-3 pb-6 pt-3 transition ease-in-out hover:-translate-y-4 hover:bg-gray-700/10 focus:-translate-y-4 focus:bg-gray-700/10'
  >
    <div
      class={classNames(
        'relative mb-3 flex h-[268px] bg-live-lecture-image w-full bg-no-repeat bg-cover bg-center rounded-xl tablet:rounded-l',
        { '!h-[198px]': isHeader },
      )}
    >
      {
        withBlur && (
          <>
            <div class='absolute inset-0 flex h-auto w-full rounded-l bg-black/20 backdrop-blur-[4px]' />
          </>
        )
      }
      <div
        class='absolute top-5 flex w-full items-center justify-between gap-x-2 px-5 tablet:top-3 tablet:px-3'
      >
        <div class='flex flex-wrap justify-between'>
          <div
            class={classNames(
              'flex w-fit items-center gap-x-3 rounded-xs border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]',
              { 'laptop:!py-0 desktop:!py-1': isHeader },
            )}
          >
            <div class='w-fit'>
              <LiveIndicatorPulse />
            </div>
            <p class='text-xxs leading-tight text-white laptop:text-xxs'>
              Live Lectures
            </p>
          </div>
        </div>
        {
          [ReactIcon, JavascriptIcon, TypescriptIcon, NodejsIcon, AwsIcon].map(
            (icon, index) => (
              <div class={index !== 0 ? 'ml-[-12px]' : ''}>
                <Image
                  src={icon}
                  alt='live-lecture-tools-image'
                  loading='lazy'
                  decoding='async'
                  class='tablet:h-6 tablet:w-fit'
                />
              </div>
            ),
          )
        }
      </div>
      <h2
        class={classNames(
          'absolute bottom-0 left-0 right-0 top-0 m-auto h-fit w-fit px-5 text-center text-base font-bold text-cultured tablet:px-3',
          { '!text-base': isHeader },
        )}
      >
        {course.title}
      </h2>
    </div>
    <h1
      class={classNames('w-full text-left text-base font-bold text-primary', {
        '!text-s': isHeader,
      })}
    >
      {course.courseTitle}
    </h1>
    <p
      class={classNames('w-full text-left text-s font-medium text-gray-700', {
        '!text-xxs': isHeader,
      })}
    >
      {course.type} &#183; {course.duration} months
    </p>
  </a>
</article>
