---
import ImageAirbnb from '@assets/home/airbnb-logo.svg';
import ImageAmazon from '@assets/home/amazon-logo.svg';
import ImageBooking from '@assets/home/booking-logo.svg';
import ImageGoogle from '@assets/home/google-logo.svg';
import ImageLinkedin from '@assets/home/linkedin-logo.svg';
import ImageMeta from '@assets/home/meta-logo.svg';
import ImageMicrosoft from '@assets/home/microsoft-logo.svg';
import ImageNetflix from '@assets/home/netflix-logo.svg';
import ImageNotion from '@assets/home/notion-logo.svg';
import ImageUber from '@assets/home/uber-logo.svg';
import ImageZoom from '@assets/home/zoom-logo.svg';
import ImageOverview from '@assets/qa/overview-image.svg';
import Header from '@components/Header.astro';
import { Image } from 'astro:assets';
---

<section class='container flex max-w-screen-desktop flex-col'>
  <div class='laptop:px-15'>
    <Header
      title='Our grads work here'
      description={`We're grateful to have educated 500,000 folks in 150+ countries and we're
      trusted by industry leading teams like Google, Figma, Revolut, and Shopify`}
      isCentered
    />
    <div class='flex w-full flex-col gap-y-6 pb-4 tablet:pb-8'>
      <div
        class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
      >
        <Image
          src={ImageGoogle}
          alt='google-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageAirbnb}
          alt='airbnb-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageAmazon}
          alt='amazon-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageMicrosoft}
          alt='google-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageAirbnb}
          alt='airbnb-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageAmazon}
          alt='amazon-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageMeta}
          alt='meta-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageGoogle}
          alt='google-logo'
          class='hidden h-full appearance-none tablet:block'
        />
      </div>
      <div
        class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
      >
        <Image
          src={ImageMeta}
          alt='meta-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageNetflix}
          alt='netflix-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageUber}
          alt='uber-logo'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageUber}
          alt='uber-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageLinkedin}
          alt='linkedin-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageBooking}
          alt='booking-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageUber}
          alt='uber-logo'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageLinkedin}
          alt='linkedin-logo'
          class='hidden h-full appearance-none tablet:block'
        />
      </div>
      <div
        class='flex h-[34px] w-full flex-wrap justify-between gap-y-6 child:w-[96px] tablet:h-[31px] child:tablet:w-auto laptop:h-[46px]'
      >
        <Image
          src={ImageZoom}
          alt='zoom-logo'
          loading='lazy'
          decoding='async'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageMicrosoft}
          alt='microsoft-logo'
          loading='lazy'
          decoding='async'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageLinkedin}
          alt='linkedin-logo'
          loading='lazy'
          decoding='async'
          class='h-full tablet:hidden tablet:appearance-none'
        />
        <Image
          src={ImageBooking}
          alt='booking-logo'
          loading='lazy'
          decoding='async'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageNotion}
          alt='notion-logo'
          loading='lazy'
          decoding='async'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageAirbnb}
          alt='airbnb-logo'
          loading='lazy'
          decoding='async'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageAirbnb}
          alt='airbnb-logo'
          loading='lazy'
          decoding='async'
          class='hidden h-full appearance-none tablet:block'
        />
        <Image
          src={ImageAirbnb}
          alt='airbnb-logo'
          loading='lazy'
          decoding='async'
          class='hidden h-full appearance-none tablet:block'
        />
      </div>
    </div>
  </div>

  <div class='my-4 flex w-full content-center justify-center'>
    <!-- <Image
      src={ImageGradWorkVideo}
      alt='grad-work-video'
      loading='lazy'
      decoding='async'
      class='w-full rounded-l object-contain tablet:hidden'
    /> -->
    <Image
      src={ImageOverview}
      alt='grad-work-video-desktop'
      loading='lazy'
      decoding='async'
      class='w-full object-contain tablet:rounded-[16px] laptop:rounded-2xl'
    />
  </div>
</section>
